img {
    height: 200px;
}

span {
    display: inline-block;
    margin: 30px;
}

body {
    text-align: center;
    font-family: 'DynaPuff', cursive;

}

footer {
    position: fixed;
    bottom: 0;
    background-color: aqua;
    width: 100%;
}
p{
    font-size: 30px;
}